// Specific CSS for your home-page
p {
	opacity: 0.9;
}
.wrapper {
	width: 100vw;
	min-height: 100vh;
	background-color: $green;
	text-align: center;
	justify-content: center;
	vertical-align: center;
	padding-top: 150px;
}
.titre {
	color: $dark-green;
	span {
		color: white;
	}
}

.wrapper-sondage {
	padding: 20px;

	background-color: $green;
	h2 {
		color: $dark-green;
		margin-top: 30px;
		margin-bottom: 15px;
		margin-left: 20px;
		text-align: center;
	}
	span {
		color: white;
	}

}

.wrapper-demarche {
	background-color: white;
	color: $dark-green;
	padding: 20px;
	min-height: 100vh;
	// display: grid;
	h2{
		margin: 30px;
		text-align: center;
	}
	span {
		box-shadow: inset 0px -2px $green;
	}
	h3 {
		margin-top: 30px;
	}
	p a {
		color: $dark-green;
		font-weight: bolder;
	}
}
.row {
	padding: 20px;
}
// .block{
// 	margin: 10px;
// }
.wrapper-etapes{
	background-color: $dark-green;
	color: white;
	padding: 20px;
	// display: grid;
	h2{
		margin: 30px;
		text-align: center;
		color: $green;
	}
	span {
		color: white;
		box-shadow: inset 0px -2px $green;
	}
	h3 {
		margin-top: 30px;
	}
}
.sondage {
	justify-content: center;
	display: flex;
	width: 100%;
}
.img-collaboration {
	height: 220px;
	margin-top: 50px;

}
.wrapper-team{
	padding: 20px;
	min-height: 100vh;

	background-color: white;
	h2 {
		color: $dark-green;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 20px;
		text-align: center;
	}
	p {
		color: $dark-green;
	}
}
.img-rounded {
	height : 150px;

}
.team {
	display: flex;
	justify-content: space-around;

}
.member {
	margin-top: 20px;
}

.image-team {
	display: flex;
	justify-content: center;
}
.name {
	text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: $dark-green;
}

.description {
	text-align: justify;
	color: $dark-green;
}
.illustration-indiv img {
	height: 180px;
}

.block-illu {
	justify-content: center;
    align-items: center;
    display: flex;
}
h3 span {
	box-shadow: inset 0px -15px $green;
}
.tree {
	justify-content: center;
    align-items: flex-end;
    display: flex;
    img{
    	height: 200px;
    }
}
.btn-wrapper{
	width: 100%;
	justify-content: center;
	display: flex;
}
.btn-wrapper{
	width: 100%;
	justify-content: center;
	display: flex;
}
.btn-questionnaire{
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: $green;
	align-item: center;
	border-radius: 5px;
	a {
		color: white;
	}
}
.btn-questionnaire:hover{
	padding: 20px;
	color: white;
	background-color: $dark-green;
	align-item: center;
	a {
		color: white;
	}

}
@media (max-width: 420px) {
	.titre h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 17px;

	}
	p {
		font-size: 11px;
	}
	.illustration-indiv img {
    	height: 70px;
	}
	
	.tree img {
    	height: 70px;
	}
	.img-collaboration {
    	height: 150px;
    	margin-top: 20px;
	}
}
