.wrapper-resultat {
	width: 100vw;
	min-height: 100vh;
	background-color: $green;
	text-align: center;
	justify-content: center;
	vertical-align: center;
	padding-top: 130px;
	padding-bottom: 130px; 
	color: white;
	h1 {
		// font-size: 20px;

	span {
		color: $dark-green;
	}
	}
	h2 {
		margin-top: 30px;
		font-size: 20px;
		
	}
	p {
		color: white;
		text-align: justify;
		color: $dark-green;
		span {
			color: white;
		}
	}
}

.sondage-resultats{
	align-items: center;

}

@media (max-width: 420px) {
	 .sondage-resultat {
	width: 300px;
	}

}

@media (min-width: 421px) and (max-width: 767px) {
 	.sondage-resultat {
		width: 400px;
	}
}

@media (min-width: 768px) and (max-width: 998px) {
		.sondage-resultat {
	width: 600px;
	}
   
}
@media (min-width: 998px) and (max-width: 1200px) {
		.iframe-questionnaire {
	width: 800px;
	}
    
}

@media (min-width: 1200px) {
	.sondage-resultat {
	width: 800px;
	}
    
}


