<div class="navbar">
	<div class="logo">
		<%= image_tag('Logo.png') %>
	</div>
	<div class="nav-list row">
		<div class="nav-item"><a href="#demarche"> La démarche</a></div>
		<div class="nav-item">Ressources</div>
		<div class="nav-item"><a href="#sondage">Répondre au questionnaire</a></div>
		<div class="nav-item">Résultats</div>
		<div class="nav-item"><a href="#team">L'équipe</a></div>
	</div>
</div>