<div class="navbar">
	<div class="logo">
		<%= image_tag('logo.png') %>
	</div>
	<div class="nav-list">
		<div class="nav-item"></div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
	</div>
</div>