<div class="navbar">
	<div class="logo">
		<%= image_tag('Logo.png') %>
	</div>
	<div class="nav-list row">
		<div class="nav-item">La démarche</div>
		<div class="nav-item">Ressources</div>
		<div class="nav-item">Répondre au questionnaire</div>
		<div class="nav-item">Résultats</div>
		<div class="nav-item">L'équipe</div>
	</div>
</div>