<div class="wrapper">
	<div class="titre">
		<h1>CRÉONS ENSEMBLE   <span>LE CAHIER DES CHARGES</span><br> DE LA   <span>CONTRIBUTION CARBONE</span> <br>VOULUE PAR LES   <span>CONSOMMATEURS</span></h1>	
		<%= image_tag('collaboration.png', class: "img-collaboration") %>
	</div>
</div>
<div class="wrapper-demarche">
	<div class="container">
	
		<h2>La démarche</h2>
		<h3>Notre constat :</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusamus qui, dicta alias ad quia. Atque nesciunt obcaecati ut sed, ea reprehenderit nam natus maiores excepturi iure accusamus consequuntur dignissimos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, sunt. Quam eos suscipit repudiandae ex vel veniam accusantium sequi cupiditate, a commodi laborum inventore numquam doloremque, voluptates dolorum deleniti! Dicta.</p>
		<h3>Notre objectif : Créer collaborativement le cahier des charges de la compensation carbone.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dolorem mollitia doloremque quidem hic odio dignissimos veritatis, incidunt quaerat itaque, eaque totam recusandae quae architecto molestias obcaecati aut alias esse! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quia magni illo ipsa sapiente vero eaque! Magni perferendis labore laudantium perspiciatis repellendus, sequi, ipsa amet! Quo ullam qui, error quos!</p>
		<h2>Les étapes à suivre</h2>
		<div class="grid">
			<div class="row ">
				<div class="block-left col-md">
					<h3>1 - Imaginer la meilleure contribution carbone via le questionnaire</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam corporis impedit illum nemo, voluptatum doloremque esse. Veritatis id vero repellendus necessitatibus temporibus voluptatibus quas quod a assumenda. Beatae nam, rerum!</p>
				</div>
				<div class="block-right col-md">
					<h3>2 - Réaliser le cahier des charges des consommateurs</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore distinctio eaque sed. Odit eligendi tempore consequatur, nulla sint quisquam commodi, fugiat hic, beatae repellendus possimus accusantium nam cum tempora necessitatibus?</p>
				</div>
			</div>
			<div class="row">
				<div class="block-left col-md">
					<h3>3 - Inciter, appeler et interpeller les entreprises pour appliquer ce cahier des charges</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, impedit facere quaerat quibusdam commodi ipsa mollitia quas deserunt fugiat modi cupiditate autem consectetur, voluptatem dolorum nostrum nulla beatae ab excepturi!</p>
				</div>
				<div class="block-right col-md">
					<h3>4 - Créer des projets de contribution carbone respectant le cahier des charges et accessibles aux entreprises </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam earum illum veniam omnis facere harum autem odit hic est, officiis dolorum. Praesentium soluta excepturi minus harum saepe, eos qui. Ex.</p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="wrapper-sondage">
	<h2>Répondez au questionnaire pour réaliser la contribution carbone de vos rêves !</h2>
	<div class="sondage">
		<iframe  src="https://docs.google.com/forms/d/e/1FAIpQLSf9HyEsOmnF1F9Jl7SskB9eKJsVn3HwWBGmp12D9gMuKXNphg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
	</div>
		<a href="https://www.vecteezy.com/free-vector/collaboration">Collaboration Vectors by Vecteezy</a>
</div>
<div class="wrapper-team">
	<div class="container">
		<h2>L'équipe de choc</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore mollitia illo nobis, quo eligendi explicabo! Laudantium voluptatum iusto, explicabo, ullam minima totam harum non eius culpa molestias earum, atque, tenetur.</p>
		<div class="team">
			<div class="member">
				<%= image_tag('Bapt.png', class: "img-rounded") %>
				<div class="name">Baptiste Chebassier</div>
				<div class="description">Fondateur</div>
				
			</div>
			<div class="member">
				<%= image_tag('jeanne.png', class: "img-rounded") %>
				<div class="name">Jeanne Rassart</div>
				<div class="description">Stagiaire</div>
			</div>
		</div>
	</div>
</div>