<div class="wrapper">
	<div class="titre">
		<h1>CRÉONS ENSEMBLE   <span>LE CAHIER DES CHARGES</span><br> DE LA   <span>CONTRIBUTION CARBONE</span> <br>VOULUE PAR LES   <span>CONSOMMATEURS</span></h1>	
		<%= image_tag('collaboration.png', class: "img-collaboration") %>
	</div>
</div>
<div class="wrapper-sondage">
	<iframe class="sondage" src="https://docs.google.com/forms/d/e/1FAIpQLSf9HyEsOmnF1F9Jl7SskB9eKJsVn3HwWBGmp12D9gMuKXNphg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
</div>

		<a href="https://www.vecteezy.com/free-vector/collaboration">Collaboration Vectors by Vecteezy</a>
