<div class="wrapper-questionnaire">
	<div class="">
		<div class="container">
			<h1 class="offset-md-1 col-md-10">Remplissez ce questionnaire pour nous aider à définir le cahier des charges le plus juste de <br><strong>la compensation carbone !</strong></h1>
			<p>Pas besoin d'être un expert pour donner son avis !</p>

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQuq0oQqUnoaMrdSkjcoNkPoRg4ERdmyPXoZlK0qNW22DwJw/viewform?embedded=true" class="iframe-questionnaire"  height="750" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
		<h2>Vous voulez en connaître plus sur la compensation carbone avant de répondre? <br>Consultez nos différentes documentations dans la rubrique :</h2>
		<div class="btn-wrapper">
			<%= link_to "Ressources", ressources_url, class:('btn-ressources') %>
		</div>
		<h2>Merci pour votre aide !</h2>		
		</div>
	</div>
</div>