<div class="wrapper-questionnaire">
	<div class="">
		<div class="container">
			<h1 class="offset-md-1 col-md-10">Remplissez ce questionnaire pour nous aider à définir le cahier des charges le plus juste de <br><strong>la compensation carbone !</strong></h1>
			<p>Pas besoin d'être un expert pour donner son avis !</p>

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQuq0oQqUnoaMrdSkjcoNkPoRg4ERdmyPXoZlK0qNW22DwJw/viewform?embedded=true" class="iframe-questionnaire"  height="750" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
		<h2>Vous voulez en connaître plus sur la compensation carbone avant de répondre? <br>Consultez nos différentes documentations dans la rubrique :</h2>
		<div class="btn-wrapper">
			<%= link_to "Ressources", ressources_url, class:('btn-ressources') %>
		</div>
		<h2>Vous aimez la démarche ? Partagez là à vos proches !</h2>
		<div class="row buttons-share">
			<a class="btn-mail" href="mailto:info@example.com?&subject=&body=http://www.contributioncarbone.fr/ Réalisez le cahier des charges de la compensation carbone !">EMAIL</a>
			<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" >Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<iframe  src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.contributioncarbone.fr%2Fquestionnaire&layout=button_count&size=small&width=0&height=0&appId" width="100" height="100" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			<script  src="https://platform.linkedin.com/in.js" type="text/javascript">lang: fr</script>
		<script type="IN/Share" data-url="https://www.linkedin.com"></script>
			
		</div>

		<h3>Merci pour votre aide !</h3>		
		</div>
	</div>
</div>