<div class="wrapper-ressources">
	<div class="container">
		<div class="offset-md-2 col-md-8">
			<h1><span>Retrouvez toutes les ressources complémentaires que nous vous conseillons pour parfaire </span>votre connaissance de la <strong>compensation carbone</strong> !</h1>
			<div class="rubrique">
				<h2>Réchauffement climatique : </h2>
				<div class="article">

					<a target="_blank"  rel="noopener noreferrer"href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2019-05/datalab-46-chiffres-cles-du-climat-edition-2019-novembre2018.pdf 
					">Chiffre clés du climat - France, Europe, Monde 2018 </a>			<br><br>		
					<a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/idees/article/2020/04/14/en-europe-il-nous-faudra-developper-un-modele-de-prosperite-nouveau_6036495_3232.html?fbclid=IwAR3buHH_nDiJ7WJyXJUpRNA052-duG84hXSGq3M9pPRqbG0jvf8DbEYbzgo
					">Le monde – En Europe il nous faudra développer un modèle de prospérité nouveau </a>	<br><br>				
					<a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/international/article/2020/04/16/le-green-deal-europeen-a-l-epreuve-du-coronavirus_6036728_3210.html?

					">Le coronavirus met le Green Deal européen à l’épreuve, Le monde 2020</a> <br><br>	

				</div>
			</div>
			<div class="rubrique">
				<h2>Impact Carbone :</h2>
				<div class="article">

					<a target="_blank"  rel="noopener noreferrer" href="https://www.carbone4.com/wp-content/uploads/2019/06/Publication-Carbone-4-Faire-sa-part-pouvoir-responsabilite-climat.pdf
	 
					">Faire sa part ? Pouvoir et responsabilité des individus, des entreprises et de l’état face à l’urgence climatique, Carbone4 </a>				<br><br>	
					<a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/idees/article/2020/04/14/en-europe-il-nous-faudra-developper-un-modele-de-prosperite-nouveau_6036495_3232.html?fbclid=IwAR3buHH_nDiJ7WJyXJUpRNA052-duG84hXSGq3M9pPRqbG0jvf8DbEYbzgo
					">Un référentiel pour une neutralité carbone collective, Carbone4 , avril 2020</a>	<br><br>				

				</div>
			</div>
			<div class="rubrique">
				<h2>Compensation Carbone :</h2>
				<div class="article">
					
					<a target="_blank"  rel="noopener noreferrer" href="https://medium.com/@jfcaillard/combien-doit-on-planter-darbres-pour-compenser-son-empreinte-carbone-et-limiter-le-changement-7c6628abbd6d
	 
					">Combien doit on planter d’arbre pour limiter le changement climatique ? - Jean François Caillard </a>	<br><br>			
					<a target="_blank"  rel="noopener noreferrer"href="https://calculcarbone.org/fichiers/AE_OFFRE_SERVICES_CCRS_2020.pdf

					">Arbre évolution - Offre de service Compensation carbone reboisement social </a>	<br><br>							<a target="_blank"  rel="noopener noreferrer" href="https://market.southpole.com/?utm_source=sp-website&utm_medium=referral&utm_campaign=compensate&utm_content=main-nav
					">South Pole – Offset your emissions today with a trusted partner </a>			<br><br>		
					<a target="_blank"  rel="noopener noreferrer"href="https://nourrituresterrestres.substack.com/p/planter-des-arbres-pour-mieux-cacher

					">Nourritures terrestres : Les illusions de la compensation </a>		<br><br>						
					<a target="_blank"  rel="noopener noreferrer" href="https://www.independent.co.uk/news/world/asia/china-tree-plant-soldiers-reassign-climate-change-global-warming-deforestation-a8208836.html

					">China reassigns 60,000 soldiers to plant trees in bid to fight pollution - Independent, 2018 </a>				<br><br>	
					<a target="_blank"  rel="noopener noreferrer"href="https://coopcarbone.coop/fr/service-compensation
					">Service de compensation Québecois– COOP CARBONE</a>	<br><br>				

				</div>
			</div>
			<div class="rubrique">
				<h2>Reforestation :</h2>
				<div class="article">
					
					<a target="_blank"  rel="noopener noreferrer" href="https://www.arbre-evolution.org/agroforesterie
	 
					">Arbre évolution - Agroforesterie </a>	<br><br>			
					<a target="_blank"  rel="noopener noreferrer"href="https://www.nature.com/articles/d41586-019-00122-z


					">How much can forest fight climate change? – nature.com</a>	<br><br>							<a target="_blank"  rel="noopener noreferrer" href="https://www.reforestaction.com/sites/default/files/brochure-sensibilisation-reforestaction.pdf

					">Brochure sensibilisation reforestation</a>			<br><br>		
					<a target="_blank"  rel="noopener noreferrer"href="https://nourrituresterrestres.substack.com/p/planter-des-arbres-pour-mieux-cacher

					">Nourritures terrestres : Les illusions de la compensation </a>		<br><br>						
					<a target="_blank"  rel="noopener noreferrer" href="https://www.independent.co.uk/news/world/asia/china-tree-plant-soldiers-reassign-climate-change-global-warming-deforestation-a8208836.html

					">China reassigns 60,000 soldiers to plant trees in bid to fight pollution - Independent, 2018 </a>				<br><br>	
					<a target="_blank"  rel="noopener noreferrer"href="https://coopcarbone.coop/fr/service-compensation
					">Service de compensation Québecois– COOP CARBONE</a>	<br><br>				

				</div>
			</div>
			<div class="rubrique">
				<h2>Greenwashing :</h2>
				<div class="article">
					
					<a target="_blank"  rel="noopener noreferrer" href="http://www.socialter.fr/fr/module/99999672/831/les_campagnes_de_reforestation_nouveau_greenwashing_des_entreprises
	 
					">SocialTer : Campagnes de reforestation, nouveau greenwashing des entreprises?</a>	<br><br>			
					<a target="_blank"  rel="noopener noreferrer"href="https://www.sciencesetavenir.fr/nature-environnement/planter-des-arbres-pour-compenser-son-co2-une-solution-pas-si-miraculeuse_137354 


					">Planter des arbres pour compenser son CO2 : une solution pas si miraculeuse</a>	<br><br>							
				</div>
			</div>
			
		</div>
	</div>
</div>