
<% content_for :meta_title, "Ressources pour mieux comprendre la compensation carbone" %>
<% content_for :meta_description, "Découvrez-ici les ressources que nous vous conseillons de lire pour mieux comprendre la compensation carbone." %>


<div class="wrapper-ressources">
	<div class="container">
		<div class="">
			<h1 class="offset-md-1 col-md-10"><span>Retrouvez toutes les ressources complémentaires que nous vous conseillons pour parfaire </span>votre connaissance de <br><strong>la compensation carbone</strong> !</h1>
			<div class="definitions">
				<h2><span>Définitions</span></h2>
				<div class="row">
					<div class="def col-md-6">
						<h3><span>Empreinte carbone</span></h3>
						<p>
							Indicateur qui comptabilise la pression exercée par une activité ou une organisation en termes d’émissions de gaz à effet de serre (GES). Les principaux gaz sont le dioxyde de carbone (CO2), le méthane (CH4), et le protoxyde d’azote (N2O). Pour pouvoir regrouper les émissions de chaque gaz, on utilise une unité commune : l’équivalent CO2, défini par le GIEC de l’ONU.
							</p>
						<h3><span>Gaz à effet de serre (GES)</span></h3>
						<p>
							Les gaz à effet de serre sont des composants gazeux qui absorbent le rayonnement infrarouge émis par la surface terrestre et contribuent ainsi à l'effet de serre. L'augmentation de leur concentration dans l'atmosphère terrestre est l'un des facteurs à l'origine du réchauffement climatique. Les plus connus sont la vapeur d’eau, le gaz carbonique (CO2) et le méthane (CH4).

						</p>
						<h3><span>Protocole de KYOTO</span></h3>
						<p>
							 Ce protocole, signé en 1997, est le premier accord mondial fixant des objectifs quantifiés de réduction des émissions de Gaz à effet de serre.

						</p>
						<h3><span>L'accord de Paris</span></h3>
						<p>
							 L'accord de Paris est le premier accord universel sur le climat et le réchauffement climatique. Il fait suite aux négociations qui se sont tenues lors de la Conférence de Paris de 2015 sur les changements climatiques (COP21) de la Convention-cadre des Nations unies sur les changements climatiques.

						</p>
						<h3><span>Le Giec</span></h3>
						<p>
							 Le Groupe d'experts intergouvernemental sur l'évolution du climat (GIEC, en anglais Intergovernmental Panel on Climate Change, IPCC) est un organisme intergouvernemental ouvert à tous les pays membres de l'ONU.  Il aa pour mission d’évaluer, sans parti pris et de façon méthodique, claire et objective, les informations d’ordre scientifique, technique et socio-économique qui nous sont nécessaires pour mieux comprendre les risques liés au réchauffement climatique d’origine humaine, cerner plus précisément les conséquences possibles de ce changement et envisager d’éventuelles stratégies d’adaptation et d’atténuation.
							 <a href="https://citoyenspourleclimat.org/wp-content/uploads/2019/03/ResumeGIEC-CPLC-web.pdf">Résumé du dernier rapport par l'association Citoyens pour le climat</a>

						</p>
					</div>
					<div class="col-md-6">
						<div class="def-icon ">
							<%= image_tag('Emission-GES-Francais.jpg', class: "img-def") %>
						</div>
						<div class="def-icon ">
							<%= image_tag('impact carbone.png', class: "img-def") %>
						</div>
						<div class="def-icon ">
							<%= image_tag('reductions.png', class: "img-def") %>
						</div>
						<p class="text-center">Source : <a href="https://www.carbone4.com/wp-content/uploads/2019/06/Publication-Carbone-4-Faire-sa-part-pouvoir-responsabilite-climat.pdf">Carbon 4</a></p>
						
					</div>
				</div>
			</div>
				<p></p>
			<div class="articles">
				<h2><span>Articles</span></h2>
				<div class="row">
					
					<div class="rubrique col-md-6">
						<h3><span>Réchauffement climatique :</span> </h3>
						<div class="article">

							<p>La transformation vers une économie neutre en carbone, des systèmes agricoles plus durables et la protection de la biodiversité ont le potentiel pour créer rapidement des emplois, de la prospérité et améliorer la qualité de vie des citoyens</p>
							<a target="_blank"  rel="noopener noreferrer"href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2019-05/datalab-46-chiffres-cles-du-climat-edition-2019-novembre2018.pdf 
							">Chiffre clés du climat - France, Europe, Monde 2018 </a>			<br><br>		
							<p>Cette publication offre un panorama exhaustif de la compréhension des enjeux climatiques aujourd'hui : la réalité du changement climatique et ses impacts, les émissions de gaz à effet de serre à l'échelon mondial, européen et national ainsi que la répartition sectorielle de ces émissions et leurs évolutions, et un point sur les politiques climatiques menées.</p><a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/idees/article/2020/04/14/en-europe-il-nous-faudra-developper-un-modele-de-prosperite-nouveau_6036495_3232.html?fbclid=IwAR3buHH_nDiJ7WJyXJUpRNA052-duG84hXSGq3M9pPRqbG0jvf8DbEYbzgo
							">Le monde – En Europe il nous faudra développer un modèle de prospérité nouveau </a>	<br><br>				
							<p>Le Green Deal n’est plus la priorité numéro un de la Commission européenne. Plusieurs chantiers – pour la biodiversité, pour une agriculture plus écologique, ou contre la déforestation – sont retardés.</p><a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/international/article/2020/04/16/le-green-deal-europeen-a-l-epreuve-du-coronavirus_6036728_3210.html?

							">Le coronavirus met le Green Deal européen à l’épreuve, Le monde 2020</a> <br><br>	

						</div>
					</div>
					<div class="rubrique col-md-6">
						<h3><span>Impact Carbone :</span></h3>
						<div class="article">

							<p>Quel impact est-on en droit d’attendre des « petits gestes du quotidien » ? Quel est l’effet d’un changement radical de comportement individuel sur l’empreinte carbone moyenne d’un Français ? Quel rôle les entreprises et l’État doivent-ils jouer dans la transition ?</p><a target="_blank"  rel="noopener noreferrer" href="https://www.carbone4.com/wp-content/uploads/2019/06/Publication-Carbone-4-Faire-sa-part-pouvoir-responsabilite-climat.pdf
			 
							">Faire sa part ? Pouvoir et responsabilité des individus, des entreprises et de l’état face à l’urgence climatique, Carbone4 </a>				<br><br>	
							<p>En cohérence avec l’effort d’alignement de l’action des entreprises aux impératifs de la science climatique amorcée à la COP21, il est urgent d’opérer la mue de ce concept, et de proposer aux organisations un référentiel d’action sur la neutralité carbone qui soit à la hauteur de l’enjeu planétaire.</p><a target="_blank"  rel="noopener noreferrer"href="https://www.lemonde.fr/idees/article/2020/04/14/en-europe-il-nous-faudra-developper-un-modele-de-prosperite-nouveau_6036495_3232.html?fbclid=IwAR3buHH_nDiJ7WJyXJUpRNA052-duG84hXSGq3M9pPRqbG0jvf8DbEYbzgo
							">Un référentiel pour une neutralité carbone collective, Carbone4 , avril 2020</a>	<br><br>
							<p>Le Réseau Action Climat (RAC) a analysé les informations dans les bilans d’émissions de gaz à effet de serre
							règlementaires et les reporting carbone de 20 entreprises françaises présentes à l’échelle internationale afin
							d’étudier comment sont prises en compte (ou non) les
							émissions indirectes (dites de scope 31
							) dans le reporting
							et dans la définition d’éventuels objectifs climatiques.</p>	
							<a href="https://www.actu-environnement.com/media/pdf/news-26593-rac-entreprises-emissions-indirectes.pdf">La responsabilité
							climatique
							des entreprises
							l’élargir aux émissions
							indirectes, Réseau Action Climat</a>			

						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="rubrique col-md-6">
						<h3><span>Compensation Carbone :</span></h3>
						<div class="article">
							<p>Le mal du siècle, c’est le réchauffement climatique, dont les effets se font sentir partout dans le monde et ils sont déjà ravageurs. Il est dû aux émissions de gaz à effet de serre et principalement de CO2, qui restent en hausse, malgré beaucoup d’efforts, car de nombreux pays se développent en augmentant fortement leur bilan carbone. La meilleure solution connue pour capter du carbone est de planter des arbres, mais combien ?</p>
							<a target="_blank"  rel="noopener noreferrer" href="https://medium.com/@jfcaillard/combien-doit-on-planter-darbres-pour-compenser-son-empreinte-carbone-et-limiter-le-changement-7c6628abbd6d
			 
							">Combien doit on planter d’arbre pour limiter le changement climatique ? - Jean François Caillard </a>	<br><br>			
							<p>La principale conclusion de cette Commission de haut niveau sur les prix du carbone, co-présidée par Joseph Stiglitz et Lord Nicholas Stern est qu’à moins de 40 dollars la tonne de carbone en 2020, l’objectif de l’Accord de Paris n’est pas tenable. Plus précisément, ce tarif doit osciller entre 40 et 80 dollars en 2020, puis entre 50 et 100 dollars en 2030. </p>
							<a href="http://www.info-compensation-carbone.com/commission-stern-stiglitz-corridor-de-prix-carbone/">Commission Stern Stiglitz corrdifor de prix carbone, Info Compensation Carbone</a>
							<br><br>
							<p>La Commission de Haut Niveau sur les Prix du Carbone, ou Commission Stern-Stiglitz, a remis le 29 mai un rapport préconisant une tarification élevée du carbone. Notamment par la fixation d’un prix plancher et plafond, c’est-à-dire un corridor de prix carbone.</p>
							<a href="http://www.info-compensation-carbone.com/commission-stern-stiglitz-corridor-de-prix-carbone/">Résumé du rapport de la commssion de Haut Niveau sur le Prix du Carbone</a>
							<br><br>
							<a target="_blank"  rel="noopener noreferrer"href="https://calculcarbone.org/fichiers/AE_OFFRE_SERVICES_CCRS_2020.pdf

							">Arbre évolution - Offre de service Compensation carbone reboisement social </a>	<br><br>								
							<p>Derrière les annonces de compensation, le greenwashing est rarement loin. Ce numéro vise à donner toutes les clefs pour comprendre pourquoi, et pouvoir l’expliquer à votre tour.</p><a target="_blank"  rel="noopener noreferrer"href="https://nourrituresterrestres.substack.com/p/planter-des-arbres-pour-mieux-cacher

							">Nourritures terrestres : Les illusions de la compensation </a>		<br><br>						
							<p>Un éventail de programmes vous sont offerts sur le marché volontaire afin de compenser votre empreinte carbone. La Coop Carbone vous propose d’agir en accédant à un autre niveau, celui du marché réglementé. C'est aussi une coopérative de solidarité qui garantit que tous les profits réalisés sont réinvestis dans la mise en oeuvre de projets de réduction de GES.</p><a target="_blank"  rel="noopener noreferrer"href="https://coopcarbone.coop/fr/service-compensation
							">Service de compensation Québecois– COOP CARBONE</a>	<br><br>				

						</div>
					</div>
					<div class="rubrique col-md-6">
						<h3><span>Reforestation :</span></h3>
						<div class="article">
							
							<p>Le Programme de Reboisement Social génère des initiatives citoyennes de reforestation bénéfiques pour les communautés et leur environnement. Il fait appel à la collectivité dans son ensemble et mise sur l’organisation d’activités de plantation participatives pour maximiser les retombées positives de chaque arbre planté.</p><a target="_blank"  rel="noopener noreferrer" href="https://www.arbre-evolution.org/agroforesterie
			 
							">Arbre évolution - Agroforesterie </a>	<br><br>			
							<p>Si la forêt est aujourd’hui connue comme solution incontestée pour lutter contre le
							réchauffement climatique (en parallèle d’une indispensable démarche de réduction
							de l’empreinte carbone), elle est bien plus que cela ! Elle apporte de multiples
							solutions environnementales mais aussi économiques et sociales fondées sur la
							nature en réponse à tout un spectre de changements planétaires.</p>
							<a target="_blank"  rel="noopener noreferrer" href="https://www.reforestaction.com/sites/default/files/brochure-sensibilisation-reforestaction.pdf
							 
							">Comprendre; sensibiliser, Agir pour les forêts, Reforest'Action</a>			<br><br>	
							<p>Selon la FAO, la superficie forestière mondiale a été <b>réduite de 129 millions d’hectares,</b> soit deux fois la superficie 
							de la France ou près de huit fois la superficie de la forêt française métropolitaine, sur la période 1990-2015. La production agricole et l'élevage constituent la première cause de déforestation à l’échelle mondiale et un tiers de cette production est destiné à l’export, le reste étant consommé localement.
								
							</p><a target="_blank"  rel="noopener noreferrer"href="https://www.ecologique-solidaire.gouv.fr/sites/default/files/2018.11.14_SNDI_0.pdf
							">Stratégie nationale de lutte contre la déforestation importée, Ministère de la transition écologique et solidaire </a>	<br><br>				
							<a target="_blank"  rel="noopener noreferrer"href="https://www.nature.com/articles/d41586-019-00122-z


							">How much can forest fight climate change? – nature.com</a>	<br><br>		
							<a target="_blank"  rel="noopener noreferrer" href="https://www.independent.co.uk/news/world/asia/china-tree-plant-soldiers-reassign-climate-change-global-warming-deforestation-a8208836.html

							">China reassigns 60,000 soldiers to plant trees in bid to fight pollution - Independent, 2018 </a>				<br><br>	
							<p>Initialement recouverte à 80 % de forêt, l'Irlande a vu sa surface boisée dégringoler à 1 % en 1928 avant de remonter légèrement à 11 % du territoire aujourd'hui. Un taux qui reste largement inférieur à la moyenne européenne de 33,5 %. Depuis les années 1980, le pays a entamé un vaste programme de reboisement. Le 31 août dernier, le gouvernement irlandais a annoncé un nouveau plan visant à planter 440 millions d'arbres d'ici 2040, soit environ 8.000 hectares par an.</p>
							<a target="_blank"  rel="noopener noreferrer" href="https://www.futura-sciences.com/planete/breves/environnement-irlande-veut-planter-440-millions-arbres-ici-2040-1138/?fbclid=IwAR1YFX1OkcUUQ-Lu9Ml-CBdCqO_e3JrsugT81HF2aBvYZ3ccjmxpFalYT-o

							">L'Irlande veut planter 440 millions d'arbres d'ici 2040 </a>				<br><br>
						</div>
					</div>
				</div>
				<div class="rubrique col-md-6">
					<h3>Greenwashing :</h3>
					<div class="article">
						<p>	Les campagnes de reforestation sont aujourd'hui au coeur de bon nombre de stratégies RSE des entreprises. Planter des arbres pour compenser son empreinte carbone paraît être un bon moyen pour les entreprises polluantes de regagner un public en quête de consommation « responsable ». Au risque de devenir un nouveau business juteux..</p>
						<a target="_blank"  rel="noopener noreferrer" href="http://www.socialter.fr/fr/module/99999672/831/les_campagnes_de_reforestation_nouveau_greenwashing_des_entreprises
		 
						">SocialTer : Campagnes de reforestation, nouveau greenwashing des entreprises?</a>	<br><br>			
						<a target="_blank"  rel="noopener noreferrer"href="https://www.sciencesetavenir.fr/nature-environnement/planter-des-arbres-pour-compenser-son-co2-une-solution-pas-si-miraculeuse_137354 


						">Planter des arbres pour compenser son CO2 : une solution pas si miraculeuse</a>	<br><br>							
					</div>
				</div>
			</div>
<!-- 			<div class="data">
				<h2><span>Chiffres clés</span></h2>
			</div> -->
			<div class="mooc">
				<h2><span>Cours en ligne à suivre</span></h2>
				<div class="row">
					<div class="col-lg-6">
						<h3>Energie et changement climatique, Jean Marc Jancovici, cours des Mines 2019</h3>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/xgy0rW0oaFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p>Intrigués ? Vous pouvez découvrir un résumé de ce cours ici : <br><a href="https://nourrituresterrestres.substack.com/p/6-enseignements-des-cours-de-jm-jancovici">Intrigués? Vous pouvez 6 enseignements des cours de J.M. Jancovici aux Mines, par Nourritures Terrestres</a> ou directement sur le site internet <a href="https://jancovici.com/publications-et-co/cours-mines-paristech-2019/cours-mines-paris-tech-juin-2019/">https://jancovici.com/publications-et-co/cours-mines-paristech-2019/cours-mines-paris-tech-juin-2019/</a></p>
					</div>
					<div class="col-lg-6">
						<h3>ENERGIE & CLIMAT, des associations Avenir Climatique et Association Bilan Carbone</h3>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/3eXVnmI7_oE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p>Intrigués ? Vous pouvez découvrir un résumé de ce cours ici : <br><a href="https://avenirclimatique.org/mooc/"> sur le site d'Avenir Climatique </a> ou de <a href=https://www.associationbilancarbone.fr/">l'Association Bilan Carbone</a></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>