.btn-wrapper{
	width: 100%;
	justify-content: center;
	display: flex;
}
.btn-wrapper{
	width: 100%;
	justify-content: center;
	display: flex;
}

.btn-questionnaire{
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: $green;
	align-item: center;
	border-radius: 5px;
	cursor: pointer;
		font-family: "Poppins";

	
	a {
		color: white;
	}
}
.btn-questionnaire:hover{
	padding: 20px;
	cursor: pointer;
	color: white;
	background-color: $dark-green;
	align-item: center;
	a {
		color: white;
	}

}
.btn-white {
	padding: 20px;
	margin: 20px;
	color: $dark-green;
	background-color: white;
	align-item: center;
	border-radius: 5px;
	font-family: "Poppins";
	cursor: pointer;
	a {
		color: $dark-green;
	}
}
.btn-white:hover{
	padding: 20px;
	color: white;
	background-color: $green;
	align-item: center;
	a {
		color: white;
	}
}
.btn-green {
	font-family: "Poppins";
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: $green;
	align-item: center;
	border-radius: 5px;
	cursor: pointer;
	a {
		color: white;
	}
}
.btn-green:hover{
	padding: 20px;
	color: $dark-green;
	background-color: $white;
	align-item: center;
	a {
		color: $dark-green;
	}
}
.btn-resultat {
	font-family: "Poppins";
	padding: 20px;
	margin: 20px;
	color: $dark-green;
	background-color: white;
	align-item: center;
	border-radius: 5px;
	cursor: pointer;
	a {
		color: $dark-green;
	}
}
.btn-resultat:hover{
	padding: 20px;
	color: white;
	background-color: $dark-green;
	align-item: center;
	a {
		color: white;
	}
}
.btn-ressources {
	font-family: "Poppins";
	padding: 20px;
	margin-top: 40px !important;
	margin: 20px;
	color: white;
	background-color: $dark-green;
	align-item: center;
	border-radius: 5px;
	cursor: pointer;
	a {
		color: white;
	}
}
.btn-ressources:hover{
	padding: 20px;
	color: $dark-green;
	background-color: white;
	align-item: center;
	a {
		color: $dark-green;
	}
}.btn-ressources-green {
	font-family: "Poppins";
	padding: 20px;
	text-align: center;
	margin: 20px;
	width: 150px;
	color: white;
	background-color: $green;
	align-item: center;
	border-radius: 5px;
	cursor: pointer;
	a {
		color: white;
	}
}
.btn-ressources-green:hover{
	padding: 20px;
	color: white;
	background-color: $dark-green;
	align-item: center;
	a {
		color: white;
	}
}

.buttons-share {
	display: flex;
	justify-content: space-around;
}
.btn-share{
	margin-left: 20px;
	height: 80px;
}
.btn-mail {
	font-family: "Poppins";

	text-align: center;
	color: white;

	cursor: pointer;
	a {
		color: white;
	}
}
.btn-mail:hover{
	color: $dark-green;
	cursor: pointer;
	a {
		color: $dark-green;

	}
}
